main {
    text-align: center;
}

.inputs {
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border-bottom: 3px solid grey;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody td {
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

table tbody tr:nth-of-type(odd) {
    background-color: #1a1a1a;
    color: #ffffff;
}

table tbody tr:nth-of-type(even) {
    background-color: #000000;
    color: #ffffff;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid gery;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.delBtn {
    background-color: red;
    width: 50%;
    height: 50%;
    text-align: center;
}

#button {
    background-color: green;
    width: 2em;
    height: 2em;
    text-align: left;
}

#name {
    margin-right: 0.5em;
    width: 15em;
    height: 2em; 
}

#date {
    margin-right: 0.5em;
    width: 8em;
    height: 2em; 
}

#amount {
    margin-right: 0.5em;
    width: 8em;
    height: 2em;   
}